{% extends "base.html" %}

{% block content %}
<style>
  .page-wrapper {
    display: flex;
    min-height: calc(100vh - 56px - 112px);
  }

  .sidebar {
    width: 200px;
    background-color: #343a40;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 56px;
    height: calc(100vh - 56px - 112px);
  }

  .sidebar .nav-link {
    color: #adb5bd;
    cursor: pointer;
  }

  .sidebar .nav-link:hover {
    background-color: #495057;
    text-decoration: none;
    color: #ffffff;
  }

  .main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 200px;
  }
</style>

<div class="page-wrapper">
  <div class="sidebar">
    <nav class="nav flex-column">
      <a class="nav-link" href="#">Manage</a>
      <a class="nav-link" href="#">Generate</a>
      <a class="nav-link" href="#">Preview</a>
      <a class="nav-link" href="#">Load</a>
      <a class="nav-link" href="#">Save</a>
    </nav>
  </div>
  <div class="main-content">
    <h1>Gameplays</h1>
    <p>Gameplay content goes here.</p>
  </div>
</div>
{% endblock %}
